<launch>
    <!-- Argument for TURTLEBOT3_MODEL -->
    <arg name="robot_model" default="waffle_pi" />

    <!-- Set the TURTLEBOT3_MODEL globally for all included launch files -->
    <param name="TURTLEBOT3_MODEL" value="$(arg robot_model)" />

    <!-- Launch the first exploration package -->
    <include file="$(find ros_multi_tb3)/launch/single_exploration.launch"/>

    <!-- Launch the second exploration package -->
    <include file="$(find rrt_exploration)/launch/single_robot.launch"/>

</launch>

